@import "tailwindcss";

/* Light scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc; /* Light gray scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Slightly darker on hover */
}
